<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <div class="content">
        <% if (users.length > 0){ %> <% users.forEach(user => {%>
        <h1 class="title"><%=user.firstName %></h>
        <h2 class="title"><%=user.lastName %></h2>
        <p class="title"><%= user.email %></>
        <p class="title"><%= user.password %></>
          <% }) %> <% } else { %> 
            <p>Não há usuários para exibir</p>
            <% } %>
      </div>
    </div>
  </body>
</html>
